.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 30px auto;
  width: 400px;
  padding: 20px ;
  border: 1px solid #ccc;
  border-radius: 5px;
}


nav{
  margin-bottom: 20px;

}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 10px;
}

input {
  padding: 5px;
  width: 200px;
  margin: 5px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

form{
  display: flex;
  flex-direction: column;
}